extends main

block content
  h2
    i.fa.fa-smile
      | Acerca
  p
    | Desarrollador web desde 1998, vive en
    a(href='http://www.buayacorp.com/archivos/cusco/', target='_blank') Cusco - Perú
    | , ciudad turística y capital arqueológica de la humanidad. Ha trabajado por muchos años ayudando a empresas a usar tecnologías web para impulsar el turismo de su ciudad.
  p
    | Actualmente trabaja apoyando pequeños gobiernos distritales a mejorar su gestión usando las mismas tecnologías.
  p
    | Le gusta todo lo que tiene que ver con desarrollo web, especialmente con proyectos libres y abiertos
    | a los cuales contribuye regularmente. Le apasiona enseñar y compartir sus conocimientos, a veces lo hace mediante
    a(href='http://www.buayacorp.com', title='Buayacorp: Diseño y Programación', target='_blank') Buayacorp.
  p
    | Puedes ver algunos trabajos hechos en su
    a(href='/portfolio') portfolio
    | .
  h2
    i.fa.fa-shield
    | Habilidades
  ul
    li
      h3
        i.fa.fa-check-circle-o
        | Frontend
      ul
        li HTML5 / CSS3 / Responsive Design
        li Javascript / jQuery / Underscore / Backbone / Mustache / Handlebars
        li node.js / express / socket.io / meteor
        li Jade / Stylus / Coffeescript
    li
      h3
        i.fa.fa-check-circle-o
        | Backend
      ul
        li PHP5 / Symfony / Twig
        li Python / Django
        li Javascript / Node.js
        li Javascript / Meteor
    li
      h3
        i.fa.fa-check-circle-o
        | Administración de contenido
      ul
        li Drupal 7 / modules / themes
    li
      h3
        i.fa.fa-check-circle-o
        | Diseño gráfico
      ul
        li Photoshop / Illustrator
    li
      h3
        i.fa.fa-check-circle-o
        | Conceptos
      ul
        li LAMP / WAMP / LEMP
